* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  margin: 0;
}
hr {
  background-color: white;
}
#fiveDayForecast {
  background-color: darkblue;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  width: 20%;
}
