* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  margin: 0;
}
hr {
  background-color: white;
}
#fiveDayForecast {
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px green;
  width: 20%;
}
.low {
  background-color: green;
  color: black;

  box-shadow: 2px 2px 3px black;
  width: 22%;
}
.medium {
  background-color: yellow;
  color: black;

  box-shadow: 2px 2px 3px black;
  width: 22%;
}

.high {
  background-color: red;
  color: black;

  box-shadow: 2px 2px 3px black;
  width: 22%;
}
